<footer class="blog-footer">
  <p>N-Blog demo based on <a href="http://v3.bootcss.com/examples/blog/" title="Bootstrap blog template" target="_blank" rel="nofollow">bootstrap blog template</a> by <a title="My github profile" href="https://github.com/seed-fe" target="_blank" rel="nofollow">Bill_Zhang</a>.</p>
  <p>
  <a title="友情链接" href="/links">友情链接</a> | 
  <a href="#" title="回到顶部">Back to top</a>
  </p>
</footer>
<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- <script src="/javascripts/jquery.js"></script> -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!-- <script src="/javascripts/bootstrap.min.js"></script> -->
<script src="https://cdn.bootcss.com/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<!-- <script src="/javascripts/jquery.validate.min.js"></script> -->
<script src="/javascripts/script.min.js"></script>
</body>
</html>