    <footer class="blog-footer">
      <p>N-Blog demo based on <a href="http://http://v3.bootcss.com/examples/blog/">bootstrap blog template</a> by <a href="https://github.com/seed-fe">Bill_Zhang</a>.</p>
      <p>
      	<a title="友情链接" href="/links">友情链接</a> | 
        <a href="#">Back to top</a>
      </p>
    </footer>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.validate.min.js"></script>
<script src="/javascripts/script.js"></script>
</body>
</html>