<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8" />
<!-- 让IE8、IE9浏览器运行在最新的渲染模式下 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- viewport元数据标签，width属性控制视口的宽度。可以像width=600这样设为确切的像素数，或者设为device-width这一特殊值来指代比例为100%时屏幕宽度的CSS像素数值。（相应有height及device-height属性，可能对包含基于视口高度调整大小及位置的元素的页面有用。）
initial-scale属性控制页面最初加载时的缩放等级。maximum-scale、minimum-scale及user-scalable属性控制允许用户以怎样的方式放大或缩小页面。 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>N-Blog</title>
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/signin.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<!-- <script charset="utf-8" src="/KindEditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/KindEditor/lang/zh_CN.js"></script>
<script>
// 这里参见火狐收藏夹project文件夹里那个使用kindeditor的issue
var editor;
KindEditor.ready(function(K) {
  editor = K.create('textarea', {
  allowImageUpload : false,
  items : [
    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
    'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
    'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
  });
});
</script> -->
</head>
<body>