<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>N-Blog</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/sticky-footer-navbar.css"> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/signin.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<!-- <script charset="utf-8" src="/KindEditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/KindEditor/lang/zh_CN.js"></script>
<script>
// 这里参见火狐收藏夹project文件夹里那个使用kindeditor的issue
var editor;
KindEditor.ready(function(K) {
  editor = K.create('textarea', {
  allowImageUpload : false,
  items : [
    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
    'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
    'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
  });
});
</script> -->
</head>
<body>
<div class="container">
				
			
