<%- include header %>
<form class="form-signin" role="form" method="post">
	<h2 class="form-signin-heading">Please sign in~</h2>
  	<input class="form-control" type="text" name="name"/ required placeholder="username" autofocus><br />
  	<input class="form-control" type="password" name="password"/ required placeholder="password"><br />
   	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<!-- /.blog-main -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</div>
<%- include footer %>