<%- include header %>
		<form role="form" method="post" class="col-md-4">
			<div  class="form-group">
				<label for="regname">用户名</label>
				<input id="regname" class="form-control" type="text" name="name" required placeholder="username">
			</div>
			<div  class="form-group">
				<label for="regpassword">密码</label>
				<input id="regpassword" class="form-control" type="<password></password>" name="password" required placeholder="password">
			</div>
  			<div  class="form-group">
				<label for="regpasswordagain">再次输入密码</label>
				<input id="regpasswordagain" class="form-control" type="password" name="password-repeat" required placeholder="password-repeat">
			</div>
			<div  class="form-group">
				<label for="regemail">邮箱</label>
				<input id="regemail" class="form-control" type="email" name="email" required placeholder="Enter email">
			</div>
			<button type="submit" class="btn btn-primary">Register</button>
		</form>
<!-- /.blog-main -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</div>

<%- include footer %>