<%- include header %>
<% posts.forEach(function (tag, index) { %>
  <a class="label label-success" href="/tags/<%= tag %>"><%= tag %></a>
<% }) %>
<!-- /.blog-main -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</div>

<%- include footer %>