<%- include header %>
<form method='post' action='/upload' enctype='multipart/form-data' >
  <input type="file" multiple name='field1' required><br>
  <input type="submit" value="Upload">
</form>
<!-- /.blog-main -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</div>

<%- include footer %>