<%- include header %>
<%- include nav %>
<div class="row" id="main_body">
      <div class="col-sm-8 blog-main">
<form method='post' action='/upload' enctype='multipart/form-data' >
  <input type="file" multiple name='field1' required><br>
  <input type="submit" value="Upload">
</form>
<!-- /.blog-main -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</div>

<%- include footer %>