
body{ padding-top: 70px; }
.blog-post .post-main{
	height: 200px;
	line-height: 25px;
	overflow-y: hidden;
	margin-bottom: 10px;
}

/*  导航条上显示用户名的部分 */
.blog-post .elli{font-size: 20px;}
#nav_username{font-style: italic; font-weight: bold; color: #1f1;}

/* 注册页选项卡 */
.nav-tabs{width: 124px; margin:0 auto;}
/* 注册页表单 */
.form-signin input[type="text"]{
	margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.form-signin input[id="regpassword"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* 表单整体大小固定 */
.tab-content{
	height: 262px
}
/* 表单部分宽度 */
.form-signin{
  /*max-width: 430px;*/
}
/* 把错误信息定位到输入框内, 先用一个相对定位的div包裹输入框，然后对error的label进行绝对定位就会相对于父div定位 */
.input-wrapper{
  position: relative;
}
#name-error, #email-error, #regpassword-error, #regpasswordagain-error, #loginpassword-error{
  position: absolute;
  right: 8px;
  top: 12px;
  color: #c33;
}