/* html相对定位，让footer相对html绝对定位 */
html{min-height: 100%; position: relative;}
body{ 
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #f9f9f9; 
  color: #555;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.container{
  margin-bottom: 132px;
}
/* 注册登录页部分样式 */
/* 让jumbotron部分的背景色和整体一致 */
.jumbotron{background-color: inherit;}

/* 让注册页选项卡居中 */
.nav-tabs{width: 124px; margin:0 auto;}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
/* 覆盖bootstrap.css默认的form-group类的15px margin-bottom */
.form-signin .form-group{
  margin-bottom: 0px;
}
/* 用负的margin让注册/登录页表单贴在一起，去掉重叠部分的圆角 */
.form-signin input[type="text"]{
	margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0;
}
/* id选择器作为关键选择器的时候不要增加标签名了，因为id是唯一的，增加标签只会减缓匹配过程，除非需要动态改变元素class，并且这个class还同时应用在其他一些元素上 */
#regpassword {
  margin-bottom: -1px;
  border-radius: 0;
}
#regpasswordagain {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#loginpassword{
  border-top-left-radius: 0;
  border-top-right-radius: 0; 
}
/* 表单整体大小高度固定 */
.tab-content{
	height: 262px
}
/* .error label和.form-control-feedback的中心对齐 */
/* 错误信息label绝对定位，前提条件是加了has-feedback类的包裹div已经在bootstrap.css里相对定位了 */
.error{
  position: absolute;
  right: 30px;
  top: 12px;
  color: #c33;
}
/* 这里用到了element1~element2这一CSS3选择器，选择前面有element1的每个element2元素，比直接选择.form-control-feedback的优先级要高 */
.has-feedback label.sr-only ~ .form-control-feedback{
  top: 5px;
}
/* 导航条部分样式 */
/* 导航条背景色, rgba的a代表透明度，从0.0到1.0对应全透明到全不透明 */
.navbar{
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #086ed5, #055db5) repeat scroll 0 0;
}
/* 覆盖导航项a元素在hover和focus状态下的背景色和字体色 */
.navbar-brand:hover,
.navbar-brand:focus,
.nav > li > a:hover,
.nav > li > a:focus{
  /*继承.navbar的背景色，覆盖bootstrap的设置*/
  background-color: inherit;
  /*白色相对灰色突出*/
  color: #fff;
}
/* 导航条内字体颜色 */
.navbar-nav > li > a {
  /*更浅的灰色，在蓝色背景下相对深灰色更突出*/
    color: #cdddeb;
}
.navbar-brand{color: #cdddeb;}
/* active类的字体颜色为白色，背景色为更深的蓝色，以突出选中的导航项 */
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  /*参考了知乎*/
    background-color: #259;
}
/*  导航条上显示用户名的部分 */
#nav_username{font-style: italic; font-weight: bold;}
/* 导航条按钮，由于去掉了导航条的navbar-default 类，这里要自己设置导航条按钮的样式，参照导航条部分其他链接的配色来设置 */
.navbar-toggle{border-color: #cdddeb;}
.navbar-toggle .icon-bar{background-color: #cdddeb;}
.navbar-toggle:hover,
.navbar-toggle:focus{
  background-color: #259;
}

/* 文章显示部分样式 */
/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 15px;
  line-height: 1.5;
}
/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
  font-size: 14px;
}
.blog-post .post-main{
  /*height为line-height的整数倍，做到整行显示*/
  height: 200px;
  line-height: 25px;
  /*超出高度部分隐藏*/
  overflow-y: hidden;
  margin-bottom: 10px;
}

/* 文章下的省略号 */
.blog-post .elli{font-size: 20px;}

/* 发表、编辑和评论表单部分的样式 */
/* 让输入标签的控件内联 */
.label-tags{
  /*设为块级元素显示，后面的浮动元素会换行，否则label是内联元素，后面的浮动元素会跑到同一行来*/
  display: block;
}
.form-group .tags{
  /*让三个输入框在同一行排列*/
  float: left;
  width: 33.333%;
  margin-bottom: 5px;
}
/* 边栏部分样式 */
/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
#sidebar-archive, #sidebar-tags{width: 83px; float: left;}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}
/*
 * Footer
 */

.blog-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}