
body{ padding-top: 70px; }
/* 注册登录页部分样式 */
/* 让jumbotron部分的背景色和整体一致 */
.jumbotron{background-color: #f9f9f9;}

/* 让注册页选项卡居中 */
.nav-tabs{width: 124px; margin:0 auto;}
/* 覆盖form-group类的15px margin-bottom */
.form-signin .form-group{
  margin-bottom: 0px;
}
/* 用负的margin让注册页表单贴在一起，去掉重叠部分的圆角 */
.form-signin input[type="text"]{
	margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.form-signin input[id="regpassword"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* 表单整体大小高度固定 */
.tab-content{
	height: 262px
}
/* .error label和.form-control-feedback的中心对齐 */
/* 错误信息label绝对定位，前提条件是加了has-feedback类的包裹div已经在bootstrap.css里相对定位了 */
.error{
  position: absolute;
  right: 30px;
  top: 12px;
  color: #c33;
}
/* 这里用到了element1~element2这一CSS3选择器，选择前面有element1的每个element2元素，比直接选择.form-control-feedback的优先级要高 */
.has-feedback label.sr-only ~ .form-control-feedback{
  top: 5px;
}
/* 导航条部分样式 */
/* 导航条背景色, rgba的a代表透明度，从0.0到1.0对应全透明到全不透明 */
.navbar{
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #086ed5, #055db5) repeat scroll 0 0;
}
/* 覆盖导航项a元素在hover和focus状态下的背景色和字体色 */
.navbar-brand:hover,
.navbar-brand:focus,
.nav > li > a:hover,
.nav > li > a:focus{
  /*继承.navbar的背景色，覆盖bootstrap的设置*/
  background-color: inherit;
  /*白色相对灰色突出*/
  color: #fff;
}
/* 导航条内字体颜色 */
.navbar-nav > li > a {
  /*更浅的灰色，在蓝色背景下相对深灰色更突出*/
    color: #cdddeb;
}
.navbar-brand{color: #cdddeb;}
/* active类的字体颜色为白色，背景色为更深的蓝色，以突出选中的导航项 */
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  /*参考了知乎*/
    background-color: #259;
}
/*  导航条上显示用户名的部分 */
#nav_username{font-style: italic; font-weight: bold;}
/* 导航条按钮，由于去掉了导航条的navbar-default 类，这里要自己设置导航条按钮的样式，参照导航条部分其他链接的配色来设置 */
.navbar-toggle{border-color: #cdddeb;}
.navbar-toggle .icon-bar{background-color: #cdddeb;}
.navbar-toggle:hover,
.navbar-toggle:focus{
  background-color: #259;
}

/* 文章显示部分样式 */
.blog-post .post-main{
  /*height为line-height的整数倍，做到整行显示*/
  height: 200px;
  line-height: 25px;
  /*超出高度部分隐藏*/
  overflow-y: hidden;
  margin-bottom: 10px;
}

/* 文章下的省略号 */
.blog-post .elli{font-size: 20px;}

/* 发表、编辑和评论表单部分的样式 */
/* 让输入标签的控件内联 */
.label-tags{
  /*设为块级元素显示，后面的浮动元素会换行，否则label是内联元素，后面的浮动元素会跑到同一行来*/
  display: block;
}
.form-group .tags{
  /*让三个输入框在同一行排列*/
  float: left;
  width: 33.333%;
  margin-bottom: 5px;
}
/* 边栏部分样式 */
#sidebar-archive, #sidebar-tags{width: 83px; float: left;}